{% extends 'customer/base.html' %} {% block content %}
<div class="container mb-5">
  <div class="row justify-content-center mt-5">
    <div class="col-md-8 col-sm-12 offset-md-1 p-4 text-center">
      <h1>About Us!</h1>
    </div>
  </div>
  <div class="row justify-content-center mt-1">
    <div class="col-md-10 col-sm-12 offset-md-1 p-4 text-center">
      <p>
        DeliverEats is the ultimate on-campus food delivery system designed to
        enhance the dining experience for students, faculty, and staff at
        universities and colleges across the country. We understand that in
        today's fast-paced academic environment, finding time for a proper meal
        can be challenging. That's why we have created a seamless and convenient
        solution to bring delicious, freshly prepared food directly to your
        doorstep.
      </p>

      <p>
        At DeliverEats, we prioritize your satisfaction and aim to revolutionize
        the way you enjoy meals on campus. Our platform connects you with a
        diverse range of local restaurants, cafes, and food vendors, offering a
        wide array of cuisines to suit every palate. From hearty burgers and
        pizzas to vegan delights and gluten-free options, we have something for
        everyone.
      </p>

      <p>
        How does DeliverEats work? It's simple! Using our user-friendly 
        website, you can easily browse through the menus of our partner
        establishments. Once you've made your selection, place your order and
        choose a convenient delivery time. Our dedicated delivery team will
        promptly collect your food and ensure it reaches you hot and fresh. No
        more waiting in long lines or rushing between classes; with DeliverEats,
        your meal is just a few taps away.
      </p>

      </p>
    </div>
  </div>
</div>
{% endblock content %}
